* {
    padding: 0;
    margin: 0;
}

header {
    height: 20vh;
    background-color: rgb(226, 222, 222);
}

nav {

    width: 100%;
    height: 100px;
    color: rgb(160, 10, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
justify-content: space-between;
    display: flex;
}

li {
    list-style: none;
    margin: 20px;
}

.logo,
img {
    padding: 30px;
    width: 2cm;
}

.logo {

    border-radius: 2px;
    
    padding: 3px;

}
main{
    background: url(code3.webp);
    /* background-color: palevioletred; */
    
}

footer {

    border-radius: 2px;
    color: rgb(29, 28, 28);
    background-color: rgb(214, 197, 197);
    width: 100%;
    bottom: 0%;
    font-size: 18px;



}

p {
    text-align: center;
    font-size: 20px;
}

h2 {
    /* background-color: rgb(243, 111, 144); */
    text-align: center;
}

#image {
    padding: 8px;
    margin: auto;
    display: block;
    width: 5cm;
    border-radius: 100px;


}

#image2 {
    padding: 8px;
    margin: auto;
    display: block;
    width: 5cm;
    border-radius: 100px;

}

#image3 {
    padding: 8px;
    margin: auto;
    display: block;
    width: 5cm;
    border-radius: 100px;

}
p{
    background-color: rgb(204, 121, 135);
}