*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
    
}
h2{
    color:black;
}
header{
    background-color: rgb(8, 8, 8);
    height: 20vh;
}
nav {
    width: 100%;
    height: 100px;
    color: rgb(236, 98, 98);
    display: flex;
    justify-content: space-between;
    align-items: center;
    



}
ul {
justify-content: center;
    display: flex;
}


.logo{
    border-radius: 3px;
    color: black;
    background-color:rgb(160, 10, 55) ;
    padding: 2px;
}

li {
    list-style: none;
    margin: 20px;
}
form{
    border-radius:3px;

}



button{
    background-color: rgb(160, 10, 55);
    color: white;
    padding: 2px;
}
.red{
    background-color: red;
}

footer {

    border-radius: 2px;
    color: rgb(240, 227, 227);
    

    background-color: rgb(20, 20, 20);
    width: 100%;
    position: fixed;
    bottom: 0%;
    font-size: 13px;
    


}
.row {
    width: 85%;
    margin: auto;
    
}
h3{
    color: rgb(160, 10, 55);
}
img{
margin: auto;
    display: block;
    width: 5cm;
    border-radius: 100px;
}
.content,h2{
    text-align: center;
}
main{
    height: 10cm;
    background-color: white;
}

