* {
    padding: 0;
    margin: 0;

}
body{
    width: 100%;
    height: 100%;
}
nav {
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* background: rgba(0, 0, 0, 0.6); */


}

ul {

    display: flex;


}
li {
    list-style: none;
    margin: 20px;
}

