*{
    padding: 0;
    margin: 0;
}
body{
    /* display: none;
      */
    padding: 10px;
   
  box-shadow: 5px 10px red;
}

.logo img{
    width: 3cm;
}
nav{


    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    height: 3cm;
}
li{

    list-style: none;
    padding:1em
     30px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(14, 13, 13);
    
}
a{
    text-decoration: none;
    
}
a :hover{
    color: rgb(243, 7, 70);
     
    
}
ul{
    display: flex;
    align-items: center;}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1 h1{
    padding: 25px;
    color:rgb(243, 7, 70);
}
.col-1 h2{
color: rgb(27, 26, 26);

    padding: 5px;
}
button{
    align-items: center;
        padding: 3px;
    border-radius: 10px;
    margin: 10px ;
    margin-left: 5cm;
    box-shadow: 2px;
    
}
button:hover{
    color:white;
    background-color: rgb(243, 7, 70);
}
.one{
    width: 15cm;
    height: 10cm;
    
    
}
.work h4{
    padding: 30px;
font-size: large;
    text-align: center;
    /* width: 100%; */
    color: white;
    background-color: rgb(66, 63, 63);
}
.image1 img{
    width: 100%;
    height: 13cm;
}
.img1{
    
    background-color: aliceblue;
    color: black;
    padding: 30px;
    
    text-align: center;
}
.footer-content{
    text-align: center;
    align-items: center;
    bottom: 0;
    color: rgb(231, 225, 225);
    background-color: rgb(17, 17, 17);
}
@media only screen and (max-width:500px){


nav{
    width: 50%;
    background-color: white;
    
    position: relative;
}
ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.row{
    flex-direction: column;
    
    

}
.col-1 h1{
    width: 50%;
}
}

